<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>아쿠팜</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/style/member.css">
</head>

<body class="login-page">
<div class="login-logo">
    <a href="/"><img src="imgs/aqufarm.png" style="height: 60px; padding: 0.5rem;"></a>
</div>
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card" style="box-shadow: none">
        <div class="card-body login-card-body">
            <div class="mb-3" style="text-align: center;">
                <h4>아이디 찾기</h4>
            </div>
            <form action="/register" name="userRegister" method="post">

                <div class="mb-3">
                    <div class="input-group">
                        <select id="level" name="level" class="form-select" required oninvalid="this.setCustomValidity('값을 선택하세요.')">
                            <option value="" selected>선택하세요</option>
                            <option value="0">학생</option>
                            <option value="1">교사</option>
                        </select>
                    </div>
                    <label id="lLevel" style="color: red;" hidden>선택하세요.</label>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" name="school" id="school" class="form-control" placeholder="학교명">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#schoolSerch">검색</button>
                    </div>
                    <label id="lSchool" style="color: red;" hidden>학교명을 입력하세요.</label>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" name="name" id="uname" class="form-control" placeholder="이름">
                        <div class="input-group-append">
                        </div>
                    </div>
                    <label id="lUname" style="color: red;" hidden>이름을 입력하세요.</label>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" name="grade" id="grade" class="form-control" placeholder="학년" pattern="[0-9]{1}" title="1에서 9까지 숫자만 입력가능합니다.">
                        <div class="input-group-append">
                        </div>
                    </div>
                    <label id="lUgrade" style="color: red;" hidden>학년을 입력하세요.</label>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" name="class" id="class" class="form-control" placeholder="반" pattern="[0-9]{1,2}" title="1에서 99까지 숫자만 입력가능합니다.">
                        <div class="input-group-append">
                        </div>
                    </div>
                    <label id="lUclass" style="color: red;" hidden>반을 입력하세요.</label>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" name="number" id="number" class="form-control" placeholder="번호" pattern="[0-9]{1,2}" title="1에서 99까지 숫자만 입력가능합니다.">
                        <div class="input-group-append">
                        </div>
                    </div>
                    <label id="lUnumber" style="color: red;" hidden>번호을 입력하세요.</label>
                </div>

                <!-- /.col -->
                <div class="mb-3" style="margin-top: 25px;">
                    <button type="submit" class="btn btn-success btn-block" id="reg" onclick="">아이디 찾기</button>
                </div>
            </form>

            <div class="mb-3" style="font-size: 11px; ">
                <ul style="float: right; list-style-type: none;">
                    <li style="float: left;">
                        <a href="/login" class="text-center">로그인</a>
                    </li>
                    <li style="float: left;">
                        <a href="/forgot_pw" class="text-center">비밀번호 분실</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<div class="modal" id="schoolSerch" tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">학교 검색</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Modal body text goes here.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-primary">완료</button>
    </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/duplicate.js"></script>
</body>
</html>