<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AQUAPONICS</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style/sidebar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="style/style.css">
    <!-- <link rel="stylesheet" href="style/rotateCard.css"> -->
    <style>
         .apexcharts-tooltip {
            background: #f3f3f3;
            color: black;
        }
        .apexcharts-menu {
            color: black;
        }
    </style>
</head>


<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <nav class="navbar navbar-expand navbar-light" style="flex-grow: 1;">
            <ul class="navbar-nav">
                <a href="/"><img src="imgs/aqufarm.png" style="height: 45px; padding: 0.5rem; margin-left: 0.5rem;"></a>
            </ul>
        </nav>


        <nav class="navbar navbar-expand navbar-light bg-light">
            <ul class="d-flex navbar-nav" style="margin-left: auto !important;">
                <li class="navbar-text" style="padding: 0.5rem;">
                    <span id="level"></span>
                </li>
                <!-- <li class="navbar-text usericon" style="color: black; padding: 0.5rem;">
                    <span id="username" style="height: 28px;">홍길동</span>
                </li> -->
                <li class="navbar-text usericon" style="color: black; padding: 0.5rem;">
                    <a id="username" data-bs-toggle="dropdown" role="button" style="height: 28px;"></a>
                    <ul class="dropdown-menu" aria-labelledby="username" style="width: 2rem; min-width: 100px;">
                        <li><a class="dropdown-item" href="/modify_profile">정보수정</a></li>
                        <li><a class="dropdown-item" href="#">기기정보</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" onclick="javascript:logout()">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="navsidebar">
            <div>
                <a href="/" class="nav_logo" style="padding-left: 22px;">
                    <i><img src="imgs/am_h20.png" width="30px;"></i>
                    <span class="fas-3 bi_house" style="color: aliceblue;">아쿠팜</span>
                </a>
                <div class="nav_list">
                    <a href="#" class="nav_link" data-bs-toggle="collapse" data-bs-target="#pages" aria-expanded="false"
                        aria-controls="pages">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">대시보드</span>
                    </a>
                    <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    </ul>
                    <a href="#" class="nav_link active" id="chartlink" onclick="openChart()">
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                        <span class="nav_name">차트</span>
                    </a>
                    <!--@if($level->학생용) -->
                    <a href="/student_manage" class="nav_link" id="stumanag">
                        <i class='bx bx-user nav_icon'></i> <span class="nav_name">학생관리</span>
                    </a>
                    <a href="/admin" class="nav_link" id="settings">
                        <i class='bx bx-cog nav_icon'></i>
                        <span class="nav_name">설정</span>
                    </a>
                    <!--@end-->
                </div>
            </div>

            <a href="#" onclick="logout()" class="nav_link"> <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">SignOut</span>
            </a>
        </nav>
    </div>

    <div class="height-100 bg-light srcn" style="padding: 1rem;">
        <h4 style="padding: 0 0.5rem 0 0.5rem;" id="dashboard_name"></h4>

        <div class="wrapper">
            <ul class="nav nav-tabs" id="nav-tabs" style="padding: 0 0.2rem 0 0.1rem; border-color: transparent;">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="#" data-bs-target="#temp">온도</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#" data-bs-target="#envir">환경정보</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#" data-bs-target="#led">조도</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="temp" role="tabpanel" aria-labelledby="manager-tab">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-title" style="vertical-align: -webkit-baseline-middle; font-size: 16px;">
                                <!-- <i class="fas fa-chart-pie mr-1"></i> -->
                                <i class="fa-solid fa-chart-column"></i>
                                <h6 style="display: inline;">온도차트</h6>
                            </sapn>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="data-chart"></div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>

                <div class="tab-pane fade show" id="envir" role="tabpanel" aria-labelledby="manager-tab">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-title" style="vertical-align: -webkit-baseline-middle; font-size: 16px;">
                                <!-- <i class="fas fa-chart-pie mr-1"></i> -->
                                <i class="fa-solid fa-chart-column"></i>
                                <h6 style="display: inline;">환경정보차트</h6>
                            </sapn>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="data-chart2"></div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>

                <div class="tab-pane fade show" id="led" role="tabpanel" aria-labelledby="manager-tab">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-title" style="vertical-align: -webkit-baseline-middle; font-size: 16px;">
                                <!-- <i class="fas fa-chart-pie mr-1"></i> -->
                                <i class="fa-solid fa-chart-column"></i>
                                <h6 style="display: inline;">조도차트</h6>
                            </sapn>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="data-chart3"></div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <div class="table">
                sdfsfd
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="js/memberAuth.js"></script>
    <script src="js/draw_devices.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://kit.fontawesome.com/57c8b4e229.js"></script>
    <script>
        var options = {
            chart: {
                height: 350,
                type: "line",
                stacked: false
            },
            dataLabels: {
                enabled: false,
                position: 'top',
            },
            colors: ["#FF1654", "#247BA0"],
            series: [
                {
                name: "Series A",
                data: [1.4, 2, 2.5, 1.5, 2.5, 2.8, 3.8, 4.6]
                },
                {
                name: "Series B",
                data: [20, 29, 37, 36, 44, 45, 50, 58]
                }
            ],
            stroke: {
                width: [4, 4]
            },
            plotOptions: {
                bar: {
                columnWidth: "20%"
                }
            },
            xaxis: {
                categories: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]
            },
            yaxis: [
                {
                axisTicks: {
                    show: true
                },
                axisBorder: {
                    show: true,
                    color: "#FF1654"
                },
                labels: {
                    style: {
                    colors: "#FF1654"
                    }
                },
                title: {
                    text: "Series A",
                    style: {
                    color: "#FF1654"
                    }
                }
                },
                {
                opposite: true,
                axisTicks: {
                    show: true
                },
                axisBorder: {
                    show: true,
                    color: "#247BA0"
                },
                labels: {
                    style: {
                    colors: "#247BA0"
                    }
                },
                title: {
                    text: "Series B",
                    style: {
                    color: "#247BA0"
                    }
                }
                }
            ],
            tooltip: {
                enabled: true,
                shared: true,
                intersect: false,
                x: {
                    show: false
                },
            },
            legend: {
                horizontalAlign: "left",
                offsetX: 40
            },
            grid: {
                borderColor: "#ffffff",  
            },
            };

            var chart = new ApexCharts(document.querySelector("#data-chart"), options);
            var chart2 = new ApexCharts(document.querySelector("#data-chart2"), options);
            var chart3 = new ApexCharts(document.querySelector("#data-chart3"), options);

            chart.render();
            chart2.render();
            chart3.render();
    </script>

</body>

</html>